@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    
}

header {
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}

h1 {
    font-weight: 200;
    margin: 0;
}

h1.strong {
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}


/*
<style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>